# dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# environment
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# build output
dist/
build/

# editor / os
.vscode/
.idea/
.DS_Store
Thumbs.db

# test coverage
coverage/

server/src/seed/seed.js